[Desktop Entry]
Type=Application
Name=ETEELO CONNECT
Comment=Gestion scolaire ETEELO
Exec=@INSTALL_DIR@/school_app_flutter
Icon=@INSTALL_DIR@/eteelo-connect.png
Terminal=false
Categories=Office;Education;
StartupWMClass=com.junethink.school_app_flutter
